@model LoginModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = null;
}
<div class="row justify-content-center">

    <div class="col-xl-6 col-lg-6 col-md-8">

        <h1> @Localizer["Connexion"]</h1>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger mx-auto">@ViewBag.ErrorMessage</div>
        }

        <form method="post" asp-action="Login" asp-controller="Account">
            <div class="mb-3">
                <label for="nomUtilisateur" class="form-label"> @Localizer["Nomutilisateur"] </label>
                <input type="text" class="form-control" id="nomUtilisateur" asp-for="NomUtilisateur" required>
            </div>
            <div class="mb-3">
                <label for="motDePasse" class="form-label">@Localizer["motDePasse"]</label>
                <input type="password" class="form-control" id="motDePasse" asp-for="MotDePasse" required>
            </div>
            <button type="submit" class="btn btn-primary"> @Localizer["SeConnecter"]</button>
        </form>
    </div>
</div>