@model ClientListPagedViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope ="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Code Postal</th>
            <th scope="col">Pays</th>
            <th scope="col">Date de Naissance</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model.Clients)
        {
            <tr>
                <td>@client.ClientId</td>
                <td>@client.NomClient</td>
                <td>@client.PrenomClient</td>
                <td>@client.Adresse</td>
                <td>@client.CodePostal</td>
                <td>@client.Pays</td>
                <td>@client.DateNaissance.ToShortDateString()</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li><h6 class="dropdown-header">Changer le statut</h6></li>
                            <li><a class="dropdown-item" asp-action="Edit" asp-controller="Client" asp-route-id="@client.ClientId">Modifier</a></li>
                            <li><a class="dropdown-item" asp-action="Delete" asp-controller="Client" asp-route-id="@client.ClientId">Supprimer</a></li>
                            <li><a class="dropdown-item" asp-action="Details" asp-controller="Client" asp-route-id="@client.ClientId">Details</a></li>

                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (i == Model.CurrentPage)
        {
            <span>@i</span>
        }
        else
        {
            <a href="@Url.Action("Index", new { page = i })">@i</a>
        }
    }
</div>

<style>
        .pagination {
            display: flex;
            justify-content: center;
        }

            .pagination a,
            .pagination span {
                display: block;
                margin: 0 5px;
                padding: 5px 10px;
                border: 1px solid #ccc;
                text-decoration: none;
                color: #000;
            }

                .pagination a:hover {
                    background-color: #eee;
                }

    </style>
